#CadastroCompartilhado input  {
    color: #424242;
}

#CadastroCompartilhado label  {
    color: #424242;
}

#CadastroCompartilhado svg  {
    color: #424242;
}

#CadastroCompartilhado input {
    color: #424242 !important;
}
